$footerColor:#23242A;

.boarder{
  background-color: black;
  height: 25em;
}
.footer{
  background-color: $footerColor;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
.contact{
  background-color: $footerColor;
  margin:100px 200px;
  h2{
    font-size: 14px;
  }

}
.phone{
padding: 1em 0em 0em 0em;
}
.office{
  padding: 2em 0em 0em 0em;
}
// p{
//  padding: 3em 0em 0em 0em;
//   font-size: 10px;
// }
h5{
  font-size: 9px;
  padding: 13em 0em 0em 0em;
}

@media (max-width: 425px){
  .boarder{
    width: 100%;
  }

  .footer{
    width: 970px;
  }
}