@import "./variables";
@mixin sizing() {
    height:400px;
    width:500px; 
}
@mixin secondSizing(){
    height: 400px;
    width: 500px; 
}

.projectTopicDiv{
    display: flex;
    flex-direction: row;
    margin-bottom: 200px;

}


.gameImg{
  height:350px;
  border: 1px solid black;
}

.booksImg{
  height:350px;
  border: 1px solid black;
}

.goodImg{
    // @include secondSizing();
    height:350px;
    border: 1px solid black;
}

.harryImg{
    height:350px;
    border: 1px solid black;
}  

// // .serviceQuoteBtn{
//     background-color: $primaryOrange;
//     color: white;
//     border-style: none;
//     font-weight: 700;
//     height: 50px;
//     width: 140px;
// }

.textsDiv{
    width: 230px;
    margin: 80px;
    .servicePara{
        font-weight:600;
        line-height: 20px;
    }
}

.rightFacing{
    display: flex;
    flex-direction: row-reverse;
}

.harry2{
    margin-bottom:100px;
}

.upon {
  background-color: red;
  color: white;
  padding: .5em 1em;
  text-decoration: none;
  text-transform: uppercase;
  display:flex;
  justify-content: space-around;
  margin: 0px 0px 10px 0px;
 
}

.upon:hover {
  background-color: #555;
}

.upon:active {
  background-color: black;
}

.code2 {
  background-color: red;
  color: white;
  padding: .5em 1em;
  text-decoration: none;
  text-transform: uppercase;
  display:flex;
  justify-content: space-around;
}

.code2:hover {
  background-color: #555;
}

.code2:active {
  background-color: black;
}

