@import "./variables";
@mixin sizing() {
    height:400px;
    width:500px; 
}
@mixin secondSizing(){
    height: 400px;
    width: 500px; 
}

.projectTopicDiv{
    display: flex;
    flex-direction: row;
    margin-bottom: 200px;

}


.gameImg{
  height:350px;
  border: 1px solid black;
}

.booksImg{
  height:350px;
  border: 1px solid black;
}

.goodImg{
    // @include secondSizing();
    height:350px;
    border: 1px solid black;
}

.harryImg{
    height:350px;
    border: 1px solid black;
}  

// // .serviceQuoteBtn{
//     background-color: $primaryOrange;
//     color: white;
//     border-style: none;
//     font-weight: 700;
//     height: 50px;
//     width: 140px;
// }

.textsDiv{
    width: 230px;
    margin: 80px;
    .servicePara{
        font-weight:600;
        line-height: 20px;
    }
}

.rightFacing{
    display: flex;
    flex-direction: row-reverse;
}

.harry2{
    margin-bottom:100px;
}


.upon:hover {
  background-color: #555;
}

.upon:active {
  background-color: black;
}


.code2:hover {
  background-color: #555;
}

.code2:active {
  background-color: black;
}

@media (max-width: 425px){
  .gameImg{
      height:425px;
      width: 630px;
  }

  .rightFacing{
      width: 232%;
  }

  .booksImg{
      height: 530px;
      width: 550px;
  }

  .textsDiv{
      width: 250px;
      h3{
          font-size: 35px;
      }

      .servicePara{
          font-weight:600;
          line-height: 33px;
          width: 233px;
          font-size: 24px;
      }
  }

  .serviceQuoteBtn{
      font-size: 22px;
      height: 67px;
      width: 200px;
  }
}